name: Análise de Código
on:
  push:
    branches:
      - main
  pull_request:
    # types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Instala dependências
        run: yarn

      - name: Executa linter
        run: yarn lint

      - name: Executa testes e gera cobertura
        run: yarn test:all
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL_DEV}}
          SMPT_HOST: ${{secrets.SMPT_HOST}}
          SMPT_PORT: ${{secrets.SMPT_PORT}}
          SMPT_MAIL: ${{secrets.SMPT_MAIL}}
          SMPT_PASSWORD: ${{secrets.SMPT_PASSWORD}}

      - name: Executa SonarCloud Scan
        if: ${{ always() }}
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}

      - name: Envia cobertura para o Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: jest
          name: 2023.2-PrintGo-UserService
          verbose: true
